NEW
<%= form_with model:@price do |form|%>
    <div class="form_new">
        <div>
            <%= form.label :price%><br>
            <%= form.text_field :price%>
        </div>
        <div>
            <%= form.label :入金理由 %><br>
            <%= form.text_area :content%>
        </div>
    </div>
    <%= form.submit%>

<% end %>